:root {
    --color-grey-1: #484848;
    --color-grey-2: #8C8C8C;
    --color-grey-3: #A4BEBF;
    --color-grey-4: #EEEEEE;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-secondary: #32BCAD;

    --font-size-1: 1.125rem; /*18px*/
    --font-size-2: 1.75rem; /*28px*/
    --font-size-3: 0.875rem; /*14px*/
    --font-size-4: 1rem; /*16px*/
    
    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Poppins', sans-serif;

    --radius-button: 0.25rem;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

body, html {
    background: var(--color-white);
    background-attachment: fixed;
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body, input, button, textarea {
    font-family: var(--font-family-primary)
}